@use 'base';

// base styles for buttons
@mixin container($width, $height) {
    width: $width;
    height: $height;
    padding: 1.25rem 1.75rem;
    background: linear-gradient(to right bottom, base.$very-dark, base.$gray);
    border-radius: 40px;
    border: none;
}