@use 'base';

@mixin container($width, $height) {
    width: $width;
    height: $height;
    padding: 1.25rem 1.75rem;
    background: base.$dark;
    border-radius: 40px;
    border: none;
}

@mixin field-container(){
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

@mixin field() {
    display: inline-block;
    font-family: 'Exo';
    font-size: 18px;
    color: base.$white;
    margin-left: 0.5rem;
}

@mixin result-item(){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1px solid base.$white;
    cursor: pointer;
}