@font-face {
  font-family: "Exo";
  src: url("../font/Exo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Exo light";
  src: url("../font/Exo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Exo bold";
  src: url("../font/Exo-Bold.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 300ms;
  font-family: "Exo", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #E67662 10%, #F79238 10%, #F79238 70%, #F0C777 70%);
}

main {
  position: relative;
  width: 1350px;
  max-height: 715px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #F0C777 0%, #F79238 2%, #E67662 3%, #2B2B2B 7%, #1C1C1E 75%);
  border-radius: 25px;
  overflow-y: scroll;
  scrollbar-width: none;
}
main::-webkit-scrollbar {
  display: none;
}
main nav .container {
  width: calc(100% - 75px);
  padding: 0 12px;
  margin: 0 auto;
}
main nav .content {
  width: 100%;
  display: flex;
  padding: 3rem 0;
}
main nav .search {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 1.25rem 1.75rem;
  background: linear-gradient(to right bottom, #1C1C1E, #49484D);
  border-radius: 40px;
  border: none;
  display: flex;
}
main nav .search::before, main nav .search::after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 55px;
  left: -1px;
  top: 0;
  box-shadow: 0px 0px 4px 1px #F0C777;
  border: 1px solid #F79238;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  z-index: -1;
}
main nav .search::after {
  left: unset;
  right: -3px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background: linear-gradient(to bottom, #F79238, #85C2D7);
}
main nav .search .search-field {
  width: 250px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
}
main nav .search .search-field::-webkit-input-placeholder, main nav .search .search-field::-moz-placeholder {
  font-family: "Exo light";
  color: #8B9DA9;
}
main nav .search .search-button {
  position: relative;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #F79238, #85C2D7);
  cursor: pointer;
}
main nav .search .search-button::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.5px;
  height: 3px;
  left: 100%;
  top: 100%;
  transform: rotateZ(-45deg);
  background-color: #85C2D7;
}
main nav .search .search-button .search-button-border {
  width: 20px;
  height: 20px;
  border-radius: inherit;
  border: 2px solid transparent;
  background: linear-gradient(to right bottom, #343337, #424246);
  background-clip: padding-box;
}
main .random-movies {
  width: 100%;
}
main .random-movies .container {
  width: calc(100% - 75px);
  padding: 0 12px;
  margin: 0 auto;
}
main .random-movies .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}
main .random-movies .title {
  width: 100%;
}
main .random-movies .title h2 {
  font-size: 26px;
  color: #ffffff;
  font-family: "Exo light";
  font-weight: 400;
}
main .random-movies .slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
main .random-movies .slider .movie-item {
  width: 30%;
  height: auto;
  border-radius: 16px;
}
main .random-movies .slider .movie-img {
  width: 100%;
  max-height: 350px;
  transform: translateY(25px);
  border-radius: 16px;
  overflow: hidden;
}
main .random-movies .slider .movie-img img {
  width: inherit;
}
main .random-movies .slider .movie-details {
  height: 200px;
  position: relative;
  border-radius: 16px;
  background-color: #49484D;
}
main .random-movies .slider .movie-details .movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1rem;
}
main .random-movies .slider .movie-details .movie-header .movie-title {
  max-width: 275px;
}
main .random-movies .slider .movie-details .movie-header .movie-title h4 {
  color: #F0C777;
  font-size: 22px;
  font-weight: 200;
  text-transform: capitalize;
}
main .random-movies .slider .movie-details .movie-header .movie-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .random-movies .slider .movie-details .movie-header .movie-rate span {
  font-size: 32px;
  color: #F0C777;
  text-shadow: 0px 0px 3px #F0C777;
}
main .random-movies .slider .movie-details .movie-body {
  width: 100%;
  display: flex;
  padding: 0.75rem 1rem;
}
main .random-movies .slider .movie-details .movie-body p {
  font-size: 14px;
  color: #8B9DA9;
  font-weight: 200;
  line-height: 22px;
}/*# sourceMappingURL=main.css.map */