@use 'component';
@use 'base';

body,
html {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, base.$dark 25%, rgb(224, 224, 224) 25%, rgb(224, 224, 224) 75%, base.$gold 75%);
}

main {

    & {
        position: relative;
        width: 1350px;
        max-height: 715px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(90deg, base.$gold, base.$dark 25%);
        border-radius: 25px;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    nav {

        .container {
            width: calc(100% - 75px);
            padding: 0 12px;
            margin: 0 auto;
        }

        .content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 3rem 0;
        }

        .search {

            & {
                display: flex;
                position: relative;
                @include component.container(max-content, auto);
            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 25px;
                height: 56px;
                right: -1px;
                top: 0px;
                box-shadow: 0px 0px 4px 1px base.$gold;
                border: 1px solid base.$gold;
                border-top-right-radius: inherit;
                border-bottom-right-radius: inherit;
                background: base.$gold;
                z-index: -1;
                transform: translateY(-1px);
            }

            .search-field {
                width: 250px;
                background-color: transparent;
                border: none;
                outline: none;
                color: base.$white;

                &::-webkit-input-placeholder,
                &::-moz-placeholder {
                    font-family: 'Exo light';
                }
            }

            .search-button {

                & {
                    width: max-content;
                    height: max-content;
                    position: relative;
                    border-radius: 50%;
                    background: linear-gradient(to right bottom, base.$gold, base.$blue);
                    cursor: pointer;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 1.5px;
                    height: 3px;
                    left: 100%;
                    top: 100%;
                    transform: rotateZ(-45deg);
                    background-color: base.$blue;
                }

                .search-button-border {
                    width: 20px;
                    height: 20px;
                    border-radius: inherit;
                    border: 2px solid transparent;
                    background: base.$dark;
                    background-clip: padding-box;
                }
            }

            .search-result {

                & {
                    display: none;
                    position: absolute;
                    width: 100%;
                    top: 110%;
                    left: 0;
                    background-color: base.$dark;
                    padding: 1rem 1.5rem;
                    box-shadow: 2px 2px 4px base.$gold;
                }

                &.show{
                    display: block
                }

                .result-item {
                    @include component.result-item();
                }

                .result-img {

                    & {
                        width: auto;
                        height: auto;
                    }

                    img {
                        width: 50px;
                        height: inherit;
                    }
                }

                .result-description {

                    & {
                        display: flex;
                        flex-direction: column;
                        width: calc(100% - 150px);
                    }

                    .result-name {

                        & {
                            width: 100%;
                        }

                        h4 {
                            color: base.$white;
                            font-size: 18px;
                            font-weight: 300;
                            text-transform: capitalize;
                        }
                    }

                    .result-details {

                        & {
                            width: 100%;
                        }

                        span {
                            color: base.$white;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .select-category {

            & {
                position: relative;
                width: auto
            }

            .select-heading {
                @include component.container(200px, auto);
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid base.$gold;
                box-shadow: 0px 0px 4px base.$gold;
                color: base.$white;
                outline: none;
                cursor: pointer;
            }

            .select-container {

                & {
                    display: none;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 100%;

                    padding: {
                        top: 1.25rem;
                        right: 1.75rem;
                        left: 1.75rem;
                    }

                    border: 1px solid base.$gold;
                    border-radius: 40px;
                    color: base.$white;
                    background-color: base.$dark;
                }

                .select-value {
                    cursor: pointer;
                    margin-bottom: 1.5rem;
                }

                &.open {
                    display: block;
                }
            }
        }
    }

    .movie {

        .container {
            width: calc(100% - 75px);
            padding: 0 12px;
            margin: 0 auto;
        }

        .content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 3rem;
            flex-direction: column;
        }

        .title {

            h2 {
                font-size: 32px;
                color: base.$white;
                font-family: 'Exo light';
                font-weight: 400;
                margin-bottom: 3rem;
            }
        }

        .movie-poster {

            & {
                width: auto;
                margin: 0 auto;
            }

            img {
                width: auto;
                max-width: 100%;
                max-height: 500px;
                border: 5px solid base.$white;
            }
        }

        .movie-details {

            & {
                display: flex;
                flex-direction: column;
            }

            .movie-header {

                & {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 2rem;
                }

                .movie-title {

                    h4 {
                        color: base.$white;
                        font-size: 38px;
                        font-weight: 200;
                        text-transform: capitalize;
                    }
                }

                .movie-rate {

                    & {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    span {
                        font-size: 42px;
                        color: base.$gold;
                    }
                }
            }

            .movie-body {

                & {
                    display: flex;
                    flex-direction: column;
                    margin: 1rem 0;
                }

                .movie-realase {

                    & {
                        @include component.field-container();
                    }

                    .movie-type {

                        span {
                            @include component.field();
                        }
                    }

                    .movie-year {

                        span {
                            @include component.field();
                        }
                    }
                }

                .movie-genres {

                    & {
                        @include component.field-container();
                    }

                    span {
                        @include component.field();
                    }
                }

                .movie-duration {
                    & {
                        @include component.field-container();
                    }

                    span {
                        @include component.field();
                    }
                }

                .movie-languages {

                    & {
                        @include component.field-container();
                    }

                    ul {
                        display: flex;
                    }

                    span {
                        @include component.field();
                    }
                }

                .metacritic {
                    & {
                        @include component.field-container();
                    }

                    span {
                        @include component.field();
                    }
                }

                .movie-crew {
                    & {
                        @include component.field-container();
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    .directors {
                        & {
                            @include component.field-container();
                        }

                        span,
                        label {
                            @include component.field();
                        }
                    }

                    .writers {
                        & {
                            @include component.field-container();
                        }

                        span,
                        label {
                            @include component.field();
                        }
                    }

                    .stars {
                        & {
                            @include component.field-container();
                            flex-wrap: wrap;
                            margin-bottom: 0
                        }

                        span,
                        label {
                            @include component.field();
                        }
                    }
                }

                .movie-description {

                    span {
                        @include component.field();
                        margin-left: 0;
                    }

                    p {
                        font-size: 20px;
                        color: base.$white;
                        line-height: 35px;
                    }
                }
            }
        }
    }

    .trend-movies {

        .container {
            width: calc(100% - 75px);
            padding: 0 12px;
            margin: 0 auto;
        }

        .content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 3rem;
        }

        .title {

            h2 {
                font-size: 26px;
                color: base.$white;
                font-family: 'Exo light';
                font-weight: 400;
            }
        }

        .slider {

            & {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 3rem;
            }

            .movie-item {
                width: 30%;
                height: auto;
                border-radius: 16px;
            }

            .movie-img {

                & {
                    width: 100%;
                    max-height: 350px;
                    transform: translateY(25px);
                    border-radius: 16px;
                    overflow: hidden;
                }

                img {
                    width: inherit;
                }
            }

            .movie-details {

                & {
                    height: 200px;
                    position: relative;
                    border-radius: 16px;
                    background-color: base.$dark;
                    box-shadow: 5px 5px 5px -3px base.$gold;
                }

                .movie-header {
                    & {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 0.75rem 1rem;
                    }

                    .movie-title {
                        & {
                            max-width: 275px;
                        }

                        h4 {
                            color: base.$gold;
                            font-size: 22px;
                            font-weight: 200;
                            text-transform: capitalize;
                        }
                    }

                    .movie-rate {

                        & {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }

                        span {
                            font-size: 32px;
                            color: base.$gold;
                        }
                    }
                }

                .movie-body {

                    & {
                        width: 100%;
                        display: flex;
                        padding: 0.75rem 1rem;
                    }

                    p {
                        font-size: 14px;
                        color: base.$white;
                        font-weight: 200;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}