@font-face {
  font-family: "Exo";
  src: url("../font/Exo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Exo light";
  src: url("../font/Exo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Exo bold";
  src: url("../font/Exo-Bold.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 300ms;
  font-family: "Exo", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #3A3637 25%, rgb(182, 180, 180) 25%, rgb(182, 180, 180) 75%, #D9A61C 75%);
}

main {
  position: relative;
  width: 1350px;
  height: 715px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #D9A61C, #3A3637 25%);
  border-radius: 25px;
  overflow-y: scroll;
  scrollbar-width: none;
}
main::-webkit-scrollbar {
  display: none;
}
main nav .container {
  width: calc(100% - 75px);
  padding: 0 12px;
  margin: 0 auto;
}
main nav .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
main nav .search {
  display: flex;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 1.25rem 1.75rem;
  background: #3A3637;
  border-radius: 40px;
  border: none;
}
main nav .search::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 56px;
  right: -1px;
  top: 0px;
  box-shadow: 0px 0px 4px 1px #D9A61C;
  border: 1px solid #D9A61C;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background: #D9A61C;
  z-index: -1;
  transform: translateY(-1px);
}
main nav .search .search-field {
  width: 250px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #F6EFF0;
}
main nav .search .search-field::-webkit-input-placeholder, main nav .search .search-field::-moz-placeholder {
  font-family: "Exo light";
}
main nav .search .search-button {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #D9A61C, #85C2D7);
  cursor: pointer;
}
main nav .search .search-button::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.5px;
  height: 3px;
  left: 100%;
  top: 100%;
  transform: rotateZ(-45deg);
  background-color: #85C2D7;
}
main nav .search .search-button .search-button-border {
  width: 20px;
  height: 20px;
  border-radius: inherit;
  border: 2px solid transparent;
  background: #3A3637;
  background-clip: padding-box;
}
main nav .search .search-result {
  display: none;
  position: absolute;
  width: 200%;
  top: 110%;
  left: 0;
  background-color: #3A3637;
  padding: 1rem 3rem;
  box-shadow: 2px 2px 4px #D9A61C;
  max-height: 500px;
  overflow-y: auto;
  z-index: 1;
}
main nav .search .search-result.show {
  display: block;
}
@keyframes rotatePreloader {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
main nav .search .search-result .preloader {
  position: relative;
  display: block;
  width: 550px;
  height: 450px;
  background-color: #3A3637;
  z-index: 10;
}
main nav .search .search-result .preloader .spinner {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid #D9A61C;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
  animation: rotatePreloader 800ms linear 0s infinite normal forwards;
}
main nav .search .search-result .result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid #F6EFF0;
  cursor: pointer;
}
main nav .search .search-result .result-item:last-child {
  border-bottom: none;
}
main nav .search .search-result .result-img {
  width: auto;
  height: auto;
}
main nav .search .search-result .result-img img {
  width: 150px;
  height: inherit;
  color: #D9A61C;
}
main nav .search .search-result .result-description {
  display: flex;
  flex-direction: column;
  width: 300px;
}
main nav .search .search-result .result-description .result-name {
  width: 100%;
}
main nav .search .search-result .result-description .result-name h4 {
  color: #F6EFF0;
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
}
main nav .search .search-result .result-description .result-details {
  width: 100%;
  margin-top: 2rem;
}
main nav .search .search-result .result-description .result-details span {
  color: #F6EFF0;
  font-size: 14px;
}
main nav .search .search-result > span {
  display: inline-block;
  width: 100%;
  color: #D9A61C;
  font-size: 18px;
  text-align: center;
}
main nav .select-category {
  position: relative;
  width: auto;
}
main nav .select-category .select-heading {
  width: 200px;
  height: auto;
  padding: 1.25rem 1.75rem;
  background: #3A3637;
  border-radius: 40px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #D9A61C;
  box-shadow: 0px 0px 4px #D9A61C;
  color: #F6EFF0;
  outline: none;
  cursor: pointer;
}
main nav .select-category .select-container {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% + 10px);
  padding-top: 1.25rem;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  border: 1px solid #D9A61C;
  border-radius: 40px;
  color: #F6EFF0;
  background-color: #3A3637;
  z-index: 1;
}
main nav .select-category .select-container .select-value {
  cursor: pointer;
  margin-bottom: 1.5rem;
}
main nav .select-category .select-container.open {
  display: block;
}
main .movie .container {
  width: calc(100% - 75px);
  padding: 0 12px;
  margin: 0 auto;
}
main .movie .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  flex-direction: column;
}
@keyframes rotatePreloader {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
main .movie .content .preloader {
  position: relative;
  display: block;
  width: 100%;
  height: 286px;
  z-index: 10;
}
main .movie .content .preloader .spinner {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid #D9A61C;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
  animation: rotatePreloader 800ms linear 0s infinite normal forwards;
}
main .movie .content .selected-movie .title h2 {
  font-size: 32px;
  color: #F6EFF0;
  font-family: "Exo light";
  font-weight: 400;
  margin-bottom: 3rem;
}
main .movie .content .selected-movie .movie-poster {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
main .movie .content .selected-movie .movie-poster img {
  width: auto;
  max-width: 100%;
  max-height: 500px;
  border: 5px solid #F6EFF0;
}
main .movie .content .selected-movie .movie-details {
  display: flex;
  flex-direction: column;
}
main .movie .content .selected-movie .movie-details .movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
main .movie .content .selected-movie .movie-details .movie-header .movie-title h4 {
  color: #F6EFF0;
  font-size: 38px;
  font-weight: 200;
  text-transform: capitalize;
}
main .movie .content .selected-movie .movie-details .movie-header .movie-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .movie .content .selected-movie .movie-details .movie-header .movie-rate span {
  font-size: 42px;
  color: #D9A61C;
}
main .movie .content .selected-movie .movie-details .movie-body {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-realase {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-realase .movie-type span {
  display: inline-block;
  font-family: "Exo";
  font-size: 18px;
  color: #F6EFF0;
  margin-left: 0.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-realase .movie-year span {
  display: inline-block;
  font-family: "Exo";
  font-size: 18px;
  color: #F6EFF0;
  margin-left: 0.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-genres {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-genres span {
  display: inline-block;
  font-family: "Exo";
  font-size: 18px;
  color: #F6EFF0;
  margin-left: 0.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-duration {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-duration span {
  display: inline-block;
  font-family: "Exo";
  font-size: 18px;
  color: #F6EFF0;
  margin-left: 0.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-languages {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-languages ul {
  display: flex;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-languages span {
  display: inline-block;
  font-family: "Exo";
  font-size: 18px;
  color: #F6EFF0;
  margin-left: 0.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .metacritic {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .metacritic span {
  display: inline-block;
  font-family: "Exo";
  font-size: 18px;
  color: #F6EFF0;
  margin-left: 0.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-crew {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-crew .directors {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-crew .directors span,
main .movie .content .selected-movie .movie-details .movie-body .movie-crew .directors label {
  display: inline-block;
  font-family: "Exo";
  font-size: 18px;
  color: #F6EFF0;
  margin-left: 0.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-crew .writers {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-crew .writers span,
main .movie .content .selected-movie .movie-details .movie-body .movie-crew .writers label {
  display: inline-block;
  font-family: "Exo";
  font-size: 18px;
  color: #F6EFF0;
  margin-left: 0.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-crew .stars {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 0;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-crew .stars span,
main .movie .content .selected-movie .movie-details .movie-body .movie-crew .stars label {
  display: inline-block;
  font-family: "Exo";
  font-size: 18px;
  color: #F6EFF0;
  margin-left: 0.5rem;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-description span {
  display: inline-block;
  font-family: "Exo";
  font-size: 18px;
  color: #F6EFF0;
  margin-left: 0.5rem;
  margin-left: 0;
}
main .movie .content .selected-movie .movie-details .movie-body .movie-description p {
  font-size: 20px;
  color: #F6EFF0;
  line-height: 35px;
}
main .movie .content .related-movies {
  width: 100%;
}
main .movie .content .related-movies .title h2 {
  font-size: 26px;
  color: #F6EFF0;
  font-family: "Exo light";
  font-weight: 400;
  margin-top: 5rem;
}
main .movie .content .related-movies .swiper {
  width: 100%;
  height: 600px;
}
main .movie .content .related-movies .swiper .swiper-slide {
  border-radius: 16px;
  cursor: pointer;
}
main .movie .content .related-movies .swiper .swiper-slide .movie-img {
  width: 100%;
  height: 500px;
  transform: translateY(25px);
  border-radius: 16px;
  overflow: hidden;
}
main .movie .content .related-movies .swiper .swiper-slide .movie-img img {
  width: inherit;
  height: inherit;
}
main .movie .content .related-movies .swiper .swiper-slide .movie-details {
  height: auto;
  position: relative;
  border-radius: 16px;
  background-color: #3A3637;
  box-shadow: 5px 5px 5px -3px #D9A61C;
}
main .movie .content .related-movies .swiper .swiper-slide .movie-details .movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1rem;
}
main .movie .content .related-movies .swiper .swiper-slide .movie-details .movie-header .movie-title {
  max-width: 230px;
}
main .movie .content .related-movies .swiper .swiper-slide .movie-details .movie-header .movie-title h4 {
  color: #D9A61C;
  font-size: 22px;
  font-weight: 200;
  text-transform: capitalize;
}
main .movie .content .related-movies .swiper .swiper-slide .movie-details .movie-header .movie-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .movie .content .related-movies .swiper .swiper-slide .movie-details .movie-header .movie-rate span {
  font-size: 32px;
  color: #D9A61C;
}
main .movie .content .related-movies .swiper .swiper-slide .movie-details .movie-body {
  width: 100%;
  display: flex;
  padding: 0.75rem 1rem;
}
main .movie .content .related-movies .swiper .swiper-slide .movie-details .movie-body p {
  font-size: 14px;
  color: #F6EFF0;
  font-weight: 200;
  line-height: 22px;
}
main .movie .content .related-movies .swiper .swiper-button-prev, main .movie .content .related-movies .swiper .swiper-button-next {
  color: #D9A61C;
}
main .movie .content > h3 {
  text-align: center;
  color: #D9A61C;
  font-weight: 100;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 10rem;
}
main .movie .content > h3 > span {
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-size: 24px;
  text-transform: capitalize;
}
main .movie .content > span {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: #D9A61C;
  font-size: 28px;
}/*# sourceMappingURL=main.css.map */